In [348]:
import pandas as pd
import numpy as np
import random

In [349]:
naranjas = pd.Series([1,2,3,4,5,6])

In [350]:
print(naranjas)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [351]:
colores = pd.Series(['Azul', 'Rojo', 'Verde', 'Morado'])

In [352]:
print(colores)

0      Azul
1      Rojo
2     Verde
3    Morado
dtype: object

In [353]:
materias = pd.Series({'Matematicas':30,'Español':50,'Control':100,'Control 2':65})

In [354]:
print(materias)

Matematicas     30
Español         50
Control        100
Control 2       65
dtype: int64

In [355]:
materias[1:2]

Español    50
dtype: int64

In [356]:
materias[['Control']]

Control    100
dtype: int64

In [357]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])

In [358]:
numeros * 5

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
dtype: int64

In [359]:
numeros.sum()

np.int64(45)

In [360]:
numeros.max()

np.int64(9)

In [361]:
numeros.std()

np.float64(2.7386127875258306)

In [362]:
print(materias[materias > 70])

Control    100
dtype: int64

In [363]:
print(materias.sort_values())

Matematicas     30
Español         50
Control 2       65
Control        100
dtype: int64

In [364]:
print(materias.sort_index(ascending=True))

Control        100
Control 2       65
Español         50
Matematicas     30
dtype: int64

In [365]:
data_list = ['Nintendo Switch','Xbox Series S', 'Playstation 5']
index_list = ['Nintendo', 'Microsoft', 'Sony']
Consolas = pd.Series(data=data_list, index=index_list)
print(Consolas)

Nintendo     Nintendo Switch
Microsoft      Xbox Series S
Sony           Playstation 5
dtype: object

In [366]:
data = {'NOMBRE':['Alan','Fer','Santi','Juan'],'CARRERA':['Robotica','Robotica','Robotica','Matematicas']}

In [367]:
equipo = pd.DataFrame(data)
print(equipo)

  NOMBRE      CARRERA
0   Alan     Robotica
1    Fer     Robotica
2  Santi     Robotica
3   Juan  Matematicas

In [368]:
df = pd.DataFrame([['Alan','27'],['Fer','83'],['Santi','15'],['Juan','159']], columns=['NOMBRE','NUMERO'])
print(df)

  NOMBRE NUMERO
0   Alan     27
1    Fer     83
2  Santi     15
3   Juan    159

In [369]:
randomDF = pd.DataFrame(np.random.randn(4,3), columns=['a','b','c'])
print(randomDF)

          a         b         c
0  0.408821  0.076620  0.764641
1  0.568266  0.000781 -1.049564
2 -2.000349  0.318263 -0.434274
3 -0.978611 -2.200844 -0.218973

In [370]:
ResCon = pd.read_csv('Test 10.csv')
ResCon

,time,q1,err1,dq1,tau1,curr1,tFB1,cFB1,q2,err2,...,tFB5,cFB5,q6,err6,dq6,tau6,curr6,tFB6,cFB6,Unnamed: 43
0,1,-0.000329,1.047380,0.000120,4.000000,3.350080,-0.000000,-0.011510,-0.000461,0.524028,...,0.003328,0.018198,-0.000432,1.047570,-0.000622,2.000000,3.621880,0.222975,0.385611,NaN
1,2,-0.000329,1.047530,0.000120,4.000000,3.350080,-0.000000,-0.011510,-0.000461,0.524060,...,0.003328,0.018198,-0.000432,1.047630,-0.000622,2.000000,3.621880,0.222975,0.385611,NaN
2,3,-0.000341,1.047530,-0.000033,4.000000,3.350080,0.006873,0.018198,-0.000461,0.524060,...,0.009984,0.028774,-0.000437,1.047630,-0.000586,2.000000,3.621880,0.209663,0.362731,NaN
3,4,-0.000336,1.047540,0.000029,4.000000,3.350080,0.006873,0.018198,-0.000460,0.524060,...,0.006656,0.011510,-0.000466,1.047630,-0.000989,2.000000,3.621880,0.066560,0.115239,NaN
4,5,-0.000338,1.047530,0.000000,4.000000,3.350080,-0.000000,-0.011510,-0.000461,0.524059,...,0.003328,0.008138,-0.000477,1.047660,-0.001026,2.000000,3.621880,0.036608,0.067358,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,59996,1.043410,0.003784,0.000000,0.015119,0.012662,-0.000000,0.000000,0.590404,-0.066805,...,-0.442623,-0.765381,0.984552,0.062657,0.000219,0.247146,0.447566,0.252927,0.437512,NaN
59996,59997,1.043420,0.003787,0.000151,0.015147,0.012686,-0.000000,-0.011510,0.590407,-0.066805,...,-0.445951,-0.771157,0.984534,0.062646,-0.000034,0.247010,0.447320,0.232959,0.403202,NaN
59997,59998,1.043420,0.003777,0.000072,0.015032,0.012590,0.013746,0.016277,0.590406,-0.066808,...,-0.449279,-0.776912,0.984537,0.062664,-0.000074,0.247211,0.447684,0.276223,0.477678,NaN
59998,59999,1.043420,0.003782,0.000112,0.015092,0.012640,0.020619,0.020749,0.590407,-0.066807,...,-0.462591,-0.799992,0.984534,0.062660,-0.000071,0.247217,0.447694,0.282879,0.489153,NaN
59999,60000,1.043420,0.003777,0.000071,0.015051,0.012606,0.034366,0.028774,0.590407,-0.066808,...,-0.449279,-0.776976,0.984530,0.062664,-0.000108,0.247229,0.447717,0.249599,0.432985,NaN

In [371]:
ResCon['err2']

0        0.524028
1        0.524060
2        0.524060
3        0.524060
4        0.524059
           ...
59995   -0.066805
59996   -0.066805
59997   -0.066808
59998   -0.066807
59999   -0.066808
Name: err2, Length: 60000, dtype: float64

In [372]:
ResConPeq = ResCon[ResCon['err1'] > 1]
ResConPeq

,time,q1,err1,dq1,tau1,curr1,tFB1,cFB1,q2,err2,...,tFB5,cFB5,q6,err6,dq6,tau6,curr6,tFB6,cFB6,Unnamed: 43
0,1,-0.000329,1.04738,0.000120,4.00000,3.35008,-0.000000,-0.011510,-0.000461,0.524028,...,0.003328,0.018198,-0.000432,1.047570,-0.000622,2.000000,3.621880,0.222975,0.385611,NaN
1,2,-0.000329,1.04753,0.000120,4.00000,3.35008,-0.000000,-0.011510,-0.000461,0.524060,...,0.003328,0.018198,-0.000432,1.047630,-0.000622,2.000000,3.621880,0.222975,0.385611,NaN
2,3,-0.000341,1.04753,-0.000033,4.00000,3.35008,0.006873,0.018198,-0.000461,0.524060,...,0.009984,0.028774,-0.000437,1.047630,-0.000586,2.000000,3.621880,0.209663,0.362731,NaN
3,4,-0.000336,1.04754,0.000029,4.00000,3.35008,0.006873,0.018198,-0.000460,0.524060,...,0.006656,0.011510,-0.000466,1.047630,-0.000989,2.000000,3.621880,0.066560,0.115239,NaN
4,5,-0.000338,1.04753,0.000000,4.00000,3.35008,-0.000000,-0.011510,-0.000461,0.524059,...,0.003328,0.008138,-0.000477,1.047660,-0.001026,2.000000,3.621880,0.036608,0.067358,NaN
5,6,-0.000326,1.04754,0.000143,4.00000,3.35008,3.780210,3.175680,-0.000485,0.524060,...,0.802046,1.391200,-0.000226,1.047670,0.001393,2.000000,3.621880,2.023420,3.499120,NaN
6,7,-0.000200,1.04752,0.001633,4.00000,3.35008,3.752720,3.154210,-0.000464,0.524083,...,0.851966,1.476850,0.000129,1.047420,0.004982,2.000000,3.621880,1.970170,3.407200,NaN
7,8,0.000560,1.04740,0.456430,4.00000,3.35008,3.869560,3.243920,-0.000396,0.524063,...,0.898558,1.555070,0.001990,1.047070,0.619732,2.000000,3.621880,1.953530,3.405500,NaN
8,9,0.001049,1.04664,0.505918,3.95834,3.31519,3.835190,3.229660,-0.000329,0.523995,...,0.871934,1.514590,0.003048,1.045210,1.032010,2.000000,3.621880,1.993470,3.451700,NaN
9,10,0.001568,1.04615,0.506365,3.93164,3.29283,3.835190,3.234210,-0.000195,0.523928,...,0.895230,1.556390,0.004457,1.044150,1.376310,2.000000,3.621880,1.980150,3.424080,NaN
10,11,0.002062,1.04563,0.482698,3.92934,3.29090,3.869560,3.246180,0.000042,0.523794,...,0.878590,1.521390,0.006384,1.042740,1.992830,2.000000,3.621880,2.010110,3.518600,NaN
11,12,0.002819,1.04514,0.739131,3.93919,3.29916,3.670240,3.109050,0.000209,0.523556,...,0.891902,1.543570,0.008337,1.040810,1.907390,2.000000,3.621880,2.010110,3.476940,NaN
12,13,0.003671,1.04438,0.832238,3.80795,3.18924,3.890180,3.302750,0.000312,0.523390,...,0.848638,1.492180,0.010778,1.038860,2.383840,2.000000,3.621880,2.050040,3.550640,NaN
13,14,0.004214,1.04353,0.561274,3.75799,3.14739,4.062010,3.406680,0.000517,0.523287,...,0.865278,1.504880,0.013493,1.036420,2.807750,2.000000,3.621880,2.006780,3.516570,NaN
14,15,0.004730,1.04298,0.533734,3.89130,3.25904,3.945160,3.333580,0.000879,0.523082,...,0.878590,1.540210,0.016253,1.033700,2.694630,2.000000,3.621880,2.026750,3.508890,NaN
15,16,0.005767,1.04247,1.012470,3.90300,3.26885,3.738970,3.134150,0.001052,0.522719,...,0.898558,1.558040,0.019086,1.030940,2.930030,2.000000,3.621880,2.020090,3.505440,NaN
16,17,0.006536,1.04143,0.750622,3.65949,3.06490,3.855810,3.267000,0.001448,0.522546,...,0.851966,1.501050,0.022260,1.028110,3.099050,2.000000,3.621880,2.053370,3.572810,NaN
17,18,0.007169,1.04066,0.617937,3.78734,3.17197,3.677110,3.102840,0.001806,0.522150,...,0.855294,1.493410,0.025829,1.024940,3.485780,2.000000,3.621880,2.079990,3.604450,NaN
18,19,0.008318,1.04003,1.123060,3.85115,3.22542,3.663370,3.069660,0.001993,0.521792,...,0.851966,1.499960,0.029361,1.021370,3.652960,2.000000,3.621880,2.023420,3.516450,NaN
19,20,0.009289,1.03888,1.004400,3.59399,3.01004,3.979530,3.345410,0.002399,0.521605,...,0.881918,1.527450,0.033293,1.017840,3.839740,2.000000,3.621880,2.030070,3.519100,NaN
20,21,0.010245,1.03791,0.933276,3.64943,3.05648,3.347200,2.829750,0.002663,0.521200,...,0.845310,1.473260,0.037558,1.013900,4.164830,2.000000,3.621880,2.036730,3.530590,NaN
21,22,0.011331,1.03695,1.123990,3.68117,3.08306,3.567140,3.056680,0.003192,0.520936,...,0.858622,1.525660,0.041915,1.009640,4.505890,1.956580,3.543240,1.996790,3.453430,NaN
22,23,0.012069,1.03587,0.719443,3.58147,2.99956,3.656490,3.082240,0.003441,0.520407,...,0.798718,1.418240,0.047034,1.005280,4.999150,1.768640,3.202900,1.963510,3.421900,NaN
23,24,0.013505,1.03513,1.402580,3.78079,3.16649,3.271600,2.740440,0.004007,0.520158,...,0.831998,1.473090,0.052320,1.000160,5.156660,1.501590,2.719280,2.043390,3.587660,NaN
24,25,0.014496,1.03369,1.025570,3.43348,2.87561,3.629000,3.050010,0.004316,0.519592,...,0.838654,1.481920,0.057965,0.994878,5.517660,1.401730,2.538450,1.950200,3.380520,NaN
25,26,0.016397,1.03270,1.854860,3.61803,3.03017,3.560270,3.013710,0.004780,0.519282,...,0.812030,1.404200,0.063786,0.989233,6.020620,1.198690,2.170760,2.000120,3.465870,NaN
26,27,0.017984,1.03080,1.549780,3.19577,2.67653,3.237230,2.716730,0.005316,0.518819,...,0.885246,1.565510,0.070159,0.983411,6.217510,0.923972,1.673260,1.713920,3.034200,NaN
27,28,0.019430,1.02921,1.412200,3.34196,2.79896,3.745840,3.141400,0.005739,0.518282,...,0.802046,1.399070,0.076300,0.977038,5.996270,0.800082,1.448900,1.431040,2.476710,NaN
28,29,0.021122,1.02777,1.651990,3.40497,2.85173,3.519030,2.946430,0.006344,0.517860,...,0.802046,1.418810,0.083061,0.970898,6.999480,0.886187,1.604830,1.580800,2.733720,NaN
29,30,0.022584,1.02608,1.512800,3.27831,2.74565,3.340330,2.986480,0.006863,0.517255,...,0.835326,1.460900,0.089885,0.964136,6.657900,0.357591,0.647576,1.224700,2.240310,NaN
30,31,0.024678,1.02461,2.164950,3.34205,2.79904,3.594630,3.018960,0.007340,0.516736,...,0.822014,1.490610,0.097050,0.957312,6.996780,0.501119,0.907496,1.188090,2.143090,NaN
31,32,0.026752,1.02252,2.025460,3.00760,2.51893,3.457170,2.923330,0.007902,0.516258,...,0.871934,1.516950,0.104237,0.950147,7.439760,0.303074,0.548848,0.838654,1.456220,NaN
32,33,0.028636,1.02045,1.839770,3.06905,2.57040,3.127260,2.618510,0.008586,0.515697,...,0.822014,1.483840,0.111464,0.942961,7.051270,0.052892,0.095784,0.798718,1.435510,NaN
33,34,0.030705,1.01856,2.020520,3.15436,2.64185,2.735500,2.528160,0.009152,0.515013,...,0.815358,1.412920,0.118962,0.935733,7.321610,0.218291,0.395311,0.342783,0.617369,NaN
34,35,0.033239,1.01649,2.474610,3.05571,2.55922,3.120390,2.614080,0.009728,0.514447,...,0.772094,1.347740,0.126574,0.928236,7.433960,0.053183,0.096311,0.512511,0.886903,NaN
35,36,0.034700,1.01396,1.510590,2.81853,2.36058,2.852340,2.416450,0.010284,0.513871,...,0.785406,1.366340,0.133657,0.920623,7.332510,-0.033379,-0.060448,0.299519,0.519491,NaN
36,37,0.036839,1.01250,2.089440,3.29469,2.75938,3.415930,2.876940,0.010924,0.513314,...,0.805374,1.420910,0.141203,0.913540,7.361500,-0.010942,-0.019816,0.056576,0.527085,NaN
37,38,0.039451,1.01036,2.550550,2.99671,2.50981,3.409060,2.867690,0.011539,0.512675,...,0.762110,1.360870,0.148057,0.905995,7.095150,-0.055549,-0.100595,0.049920,0.378284,NaN
38,39,0.041656,1.00775,2.280620,2.75571,2.30797,3.086020,2.679080,0.012262,0.512060,...,0.768766,1.342840,0.155492,0.899141,7.253410,0.050271,0.091038,0.066560,0.424488,NaN
39,40,0.043816,1.00554,2.108680,2.88185,2.41361,2.762990,2.348220,0.012991,0.511337,...,0.775422,1.347950,0.162997,0.891706,7.329150,-0.058537,-0.106006,0.033280,0.555444,NaN
40,41,0.046040,1.00338,2.300730,2.95919,2.47838,2.852340,2.389990,0.013688,0.510608,...,0.798718,1.447010,0.170087,0.884201,6.924480,-0.126367,-0.228842,0.023296,0.211051,NaN
41,42,0.048572,1.00116,2.472270,2.85426,2.39051,2.762990,2.411010,0.014376,0.509911,...,0.772094,1.342830,0.176967,0.877110,7.114520,0.047666,0.086321,-0.053248,-0.175685,NaN

In [373]:
ResCon.head(5)

,time,q1,err1,dq1,tau1,curr1,tFB1,cFB1,q2,err2,...,tFB5,cFB5,q6,err6,dq6,tau6,curr6,tFB6,cFB6,Unnamed: 43
0,1,-0.000329,1.04738,0.000120,4.0,3.35008,-0.000000,-0.011510,-0.000461,0.524028,...,0.003328,0.018198,-0.000432,1.04757,-0.000622,2.0,3.62188,0.222975,0.385611,NaN
1,2,-0.000329,1.04753,0.000120,4.0,3.35008,-0.000000,-0.011510,-0.000461,0.524060,...,0.003328,0.018198,-0.000432,1.04763,-0.000622,2.0,3.62188,0.222975,0.385611,NaN
2,3,-0.000341,1.04753,-0.000033,4.0,3.35008,0.006873,0.018198,-0.000461,0.524060,...,0.009984,0.028774,-0.000437,1.04763,-0.000586,2.0,3.62188,0.209663,0.362731,NaN
3,4,-0.000336,1.04754,0.000029,4.0,3.35008,0.006873,0.018198,-0.000460,0.524060,...,0.006656,0.011510,-0.000466,1.04763,-0.000989,2.0,3.62188,0.066560,0.115239,NaN
4,5,-0.000338,1.04753,0.000000,4.0,3.35008,-0.000000,-0.011510,-0.000461,0.524059,...,0.003328,0.008138,-0.000477,1.04766,-0.001026,2.0,3.62188,0.036608,0.067358,NaN

In [374]:
equipo.iloc[1,0]

'Fer'

In [375]:
equipo.iloc[0:5,0]

0     Alan
1      Fer
2    Santi
3     Juan
Name: NOMBRE, dtype: object

In [376]:
equipo.loc[2,'NOMBRE']

'Santi'

In [377]:
equipo['PARTICIPACION'] = pd.Series(['No','No','No','Si'])
equipo

  NOMBRE      CARRERA PARTICIPACION
0   Alan     Robotica            No
1    Fer     Robotica            No
2  Santi     Robotica            No
3   Juan  Matematicas            Si

In [378]:
equipo['TIEMPO'] = pd.Series(['80','70','70','40'])
equipo

  NOMBRE      CARRERA PARTICIPACION TIEMPO
0   Alan     Robotica            No     80
1    Fer     Robotica            No     70
2  Santi     Robotica            No     70
3   Juan  Matematicas            Si     40

In [379]:
TIEMPO = equipo.pop('TIEMPO')
equipo

  NOMBRE      CARRERA PARTICIPACION
0   Alan     Robotica            No
1    Fer     Robotica            No
2  Santi     Robotica            No
3   Juan  Matematicas            Si

In [380]:
nueva_fila = pd.Series(['William','Informatica','No'], index =['NOMBRE','CARRERA','PARTICIPACION'])
equipo = pd.concat([equipo, nueva_fila.to_frame().T], ignore_index= True)
equipo

    NOMBRE      CARRERA PARTICIPACION
0     Alan     Robotica            No
1      Fer     Robotica            No
2    Santi     Robotica            No
3     Juan  Matematicas            Si
4  William  Informatica            No

In [381]:
equipo = equipo.drop([4])
equipo

  NOMBRE      CARRERA PARTICIPACION
0   Alan     Robotica            No
1    Fer     Robotica            No
2  Santi     Robotica            No
3   Juan  Matematicas            Si

In [382]:
equipo[(equipo['CARRERA']=='Matematicas') & (equipo['PARTICIPACION']=='Si')]

  NOMBRE      CARRERA PARTICIPACION
3   Juan  Matematicas            Si

In [383]:
equipo.sort_values('CARRERA')

  NOMBRE      CARRERA PARTICIPACION
3   Juan  Matematicas            Si
0   Alan     Robotica            No
1    Fer     Robotica            No
2  Santi     Robotica            No

In [384]:
equipo.sort_values('NOMBRE')

  NOMBRE      CARRERA PARTICIPACION
0   Alan     Robotica            No
1    Fer     Robotica            No
3   Juan  Matematicas            Si
2  Santi     Robotica            No

In [385]:
data2 = {'NOMBRE':['Cristian','Agustin','Giselle'],'CARRERA':['Robotica','Robotica','Robotica'], 'PARTICIPACION':['No','No','No']}
equipo2 = pd.DataFrame(data2).set_index('NOMBRE')
equipo2

           CARRERA PARTICIPACION
NOMBRE
Cristian  Robotica            No
Agustin   Robotica            No
Giselle   Robotica            No

In [387]:
data3 = {'NOMBRE':['Javier','Jorge','Shaoran'],'CARRERA':['Medicina','Criminalistica','Ninguna'], 'PARTICIPACION':['No','No','No']}
equipo3 = pd.DataFrame(data3).set_index('NOMBRE')
equipo3

                CARRERA PARTICIPACION
NOMBRE
Javier         Medicina            No
Jorge    Criminalistica            No
Shaoran         Ninguna            No

In [390]:
equipoNuevo = pd.concat([equipo2,equipo3])
equipoNuevo

                 CARRERA PARTICIPACION
NOMBRE
Cristian        Robotica            No
Agustin         Robotica            No
Giselle         Robotica            No
Javier          Medicina            No
Jorge     Criminalistica            No
Shaoran          Ninguna            No

In [398]:
Juegos1 = pd.DataFrame({'Plataforma':['Nintendo','PlayStation','Xbox','PC'], 'Nombre':['Animal Crossing','The Last Of Us', 'Halo', 'League Of Legends']}).set_index('Plataforma')
Juegos2 = pd.DataFrame({'Plataforma':['Nintendo','PlayStation','Xbox','PC'], 'Jugadores':['8','1', '2', '10']}).set_index('Plataforma')

In [399]:
Juegos1

                        Nombre
Plataforma
Nintendo       Animal Crossing
PlayStation     The Last Of Us
Xbox                      Halo
PC           League Of Legends

In [400]:
Juegos2

            Jugadores
Plataforma
Nintendo            8
PlayStation         1
Xbox                2
PC                 10

In [ ]:
Juegos = pd.concat([Juegos1, Juegos2]), axis=1